h2{
    text-align: center;
    font-style: italic;
    width: 500px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.color-1{
    background-color: red;
}
.color-2{
    background-color: lime;
}
.color-3{
    background-color: blue;
}
.color-4{
    background-color: violet;
}
.color-5{
    background-color: aqua;
}
.color-6{
    background-color: yellow;
}