header{
    background-color: red;
    height: 30vh;
}
nav{
    background-color: cornflowerblue;
    height: 5vh;
}
section{
    background-color: pink;
    width: 110vh;
    height: 50vh;
    float: left;
}
aside{
    background-color: palevioletred;
    width: 80vh;
    height: 50vh;
    float: right;
}
footer{
    background-color: yellowgreen;
    height: 5vh;
    clear: right;
    
    
}